html,body,footer{
     background-color: white;
}
body.modal-open div.modal-backdrop {
    z-index: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
img{
	display:inline-block;
}

div.container{
	text-align: center;
	width:auto;
	overflow: hidden;
}

#Aboutme,#featured{
	background-color: black;
}
footer{
	text-align: center;
}
