html,body,footer{
     background-color: white;
}
body.modal-open div.modal-backdrop {
    z-index: 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#snap {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
	display:inline-block;
}
div.container{
     height:75vh;
	text-align: center;
	width:auto;
	overflow: hidden;
}
#news,#featured{
	background-color: black;
}
footer{
	text-align: center;
}
